.navbar-brand {
    padding: 0.3125rem;
}

.navbar-dark .navbar-brand {
    color: black;
    font-family: fantasy;
    font-weight: 800;
    background-color: #ffd900;
    border-radius: 8px;
}

.navbar-dark .navbar-brand:hover {
    color: black;
}

body {
    background: black;
}

#coverImage {
    width: 100%;
}

#searchForm {
    margin-top: 50px;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 40px;
    margin-top: 100px;
    border-left: 5px solid #b8c415;
    padding-left: 10px;
}

.h-100 {
    border: none;
}

.card-body {
    background: #242323
}

.card-text {
    color: rgb(194, 189, 189);
}

.card-body p {
    color: white;
}

.card-title {
    font-weight: 700;
    color: #5893c6;
    font-size: 15px;
}

.bi-star-fill {
    color:yellow;
}

.btn-primary {
    width: 100%;
    background-color: #474c54;
    border: none;
}

.btn-default {
    font-size: 12px;
    color: white;
    width: 100%;
    background-color: #3b5f98;
    border: none;
    margin-top: 8px;
}

h5 {
    height: 80px;
}

.row>* {
    margin-bottom: 20px;
}