body {
	background: black;
}

.row {
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 8px;
}

.info {
	padding-top: 5px;
	padding-bottom: 5px;
	background: #1d1d1d;
	color: white;
}

.poster {
	padding: 0;
}

.btn-primary {
	background: #3465ab;
	border: none;
}

.btn-success {
	background: #625b0b;
	border: none;
}

h4 {
	color: white;
	background: #40400b;
	padding: 20px;
}

h3 {
	color:white;
}

p {
	color: #a3a3a3;
}

.bi-star-fill {
	color: #ffff00e6;
}